/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* O font-size base passa a ser 10px */
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%; /* Evita que as imagens estorem os seus containers */
}

/* Variables */
:root {
  /* spacing */
  --max-width: 960px;

  /* colors */
  --primary-blue: #122ab2;
  --secondary-blue: #2B64FF;
  --white: #fff;
  --background-gray: #f7f7f7;
  --purple: #ae81ff;
  --pink: #f9265e;
  --light-blue: #66d9eb;

  /* typography */
  --title-size: 4.8rem;
  --text-gray: #7c7c7c;
}

/* SUPERINFO */

.superinfo-bg {
  background: var(--primary-blue);
  color: var(--white);
}

.superinfo {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
  max-width: var(--max-width);
  flex-wrap: wrap;
  font-size: 1.6rem;
}

.superinfo p, .superinfo a {
  margin: 0 10px;
}

.superinfo a {
  color: var(--white);
}

/* MENU */

.menu-bg {
  background: var(--secondary-blue);
  color: var(--white);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
  max-width: var(--max-width);
  margin: 0 auto;
}

.menu a {
  color: var(--white);
}

.menu-logo a {
  font-size: 3.6rem;
  font-weight: bold;
  margin: 0 10px; /* cria o espaçcamento padrão da esquerda e evita que o menu cole na logo */
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 2rem;
  display: block; /* para conseguir colocar o padding */
  padding: 10px;
  transition: 0.3s;
  border-radius: 5px;
}

.menu-nav a:hover {
  background: var(--primary-blue);
}

/* Intro */

.intro {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 60px 10px;
  font-size: var(--title-size);
  line-height: 1;
}

/* About */
.about {
  max-width: var(--max-width);
  margin: 0 auto;
  border-top: 2px solid var(--secondary-blue);
  border-bottom: 2px solid var(--secondary-blue);
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.about-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.about-info h1 {
  font-size: var(--title-size);
  margin-bottom: 1rem
}

.about-info p {
  color: var(--text-gray);
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.about-img {
  flex: 1 1 160px; /* flex-grow: 1; flex-shrink: 1; flex-basis: 160px === ocupa 1 espaço, permite reduzir até 1x o tamanho e largura base é 160px*/
  margin: 0 10px;
}

/* Products */

.products {
  max-width: var(--max-width);
  margin: 60px auto;
}

.products h1 {
  font-size: var(--title-size);
  margin: 0 10px 60px 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.products-item {
  flex: 1 1 190px;
  margin: 10px;
}

.products-item h2 {
  padding: 60px 20px;
  font-size: 3rem;
  background: var(--background-gray);
  color: var(--text-gray)
}

.purple {
  border-top: 8px solid var(--purple);
}

.pink {
  border-top: 8px solid var(--pink);
}

.blue {
  border-top: 8px solid var(--light-blue);
}
